.user-form {
    width: 100%;
    max-height: 800px;
    background-color: #f5f5dc;
    border-radius: 1.5rem;
    padding: 10px 0;

    .form-content {
        margin: 20px 40px;
        @media (max-width: 500px) {
            margin: 20px;
        }

        .input-section {
            margin: 20px;
            border-radius: 10px;
            @media (max-width: 500px) {
                margin: 5px;
            }
        }

        .change-register-login {
            display: flex;
        }
    }
}