.order-bag-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-height: 800px;
  background-color: #f5f5dc;
  border-radius: 8px;

  @media (max-width: 768px) {
    width: 90%;
  }

  .title {
    font-family: "Yeseva One", serif;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    margin-bottom: 40px;
  }
  .body {
    padding: 20px;

    .item {
      display: flex;
      justify-content: space-between;
      border-bottom: thin dashed;
      font-size: larger;
      margin-bottom: 25px;
      @media (max-width: 425px) {
       flex-direction: column;
      }
    }

    .total {
      font-family: "Yeseva One", serif;
      font-size: x-large;
    }

    .button-area {
      display: flex;
      justify-content: flex-end;
      padding-top: 15px;
    }
  }
}