.header {
    width: 100%;
    background-image: url("../../assets/backgroundv2.png");
    background-size: auto;
    margin-bottom: 50px;
    .logo {
        cursor: pointer;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        @media (max-width: 768px) {
            width: 100px;
            height: 100px;
        }
    }

}
.user-bar {
    width: 100%;
    background-color: #C3D79C;
    .loggedin-user {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .actions {
            display: flex;
            align-items: center;
            padding: 10px 15px 5px;
        }
    }
    .loggedout {        
        display: flex;
    }
}